*{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    background-image: url(bgimage.png);
    background-color: hsl(0, 100%, 74%);
    align-items: center;
    padding-left:80px;


    
    
}

.right_content{
    flex-direction: column; 
    margin-top: 100px;
    margin-bottom: 100px;
    height: 50%;
    justify-content: center;
    align-items: center;
    min-width:300px;
   
}

.topstyle{
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    
}

h1{

    font-weight: 600;
    font-size: 50px;
    line-height: 56PX;
    opacity: 0.9;
}

.free{
    background-color:hsl(248, 32%, 49%);
    color: white;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 3px 10px hsla(0, 0%, 0%, 0.4);
}

form{
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 2px 3px 10px hsla(0, 0%, 0%, 0.4);
    
}


input{
    padding: 27px 25px;
    border: solid #efefef 3px ;
    border-radius: 8px;
    font-weight: 600;
    padding-right: 300px;
   
}

button{
    padding: 15px 170px;
    border: solid;
    border-radius: 8px;
    font-weight: 600;
    color: white; 
    background-color: hsl(154, 59%, 51%);
    text-align: center;
}
   


small{
    margin-top: 20px;
    font-size: smaller;
    color: hsl(246, 25%, 77%);
    padding: 15px 50px;
}
a{
    color: hsl(0, 100%, 74%);
    font-size: smaller;
}

@media (max-width: 600px) {
    body {
      flex-direction: column;
      margin: 10% 5%;
      justify-content: center;
      align-items: center;
    }
    .topstyle {
      font-size: 30px;
      width: 100%;
      text-align: center;
    }
    .writeup {
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      margin-top: 10px;
      font-weight: 400;
    }
     .move {
      margin:3% 5%;
      padding: 15px ;
    }
  
     button {
      margin:3% 5%;
      padding: 15px 2.5%;
      width: 240px;
    }
    .free{
      padding: 15px 5%;
      width: 90%
    }
    input{
        width: 200px;
        margin:3% 5%;
        padding: 15px 
    }
    small{
        text-align: center;
        padding: 0px;
        margin-left: 30px;
    }
    h1{
        font-size: 30px;
        text-align: center;
    }

    
  }